@charset "UFT-8";

@font-face {
    font-family: "Quicksand";
    src: url(fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    display: grid;
    grid-template-areas: "aside header"
                        "aside main"
                        "aside footer";
    grid-template-columns: 16% 84%;
}

header {
    font-family: 'Roboto';
    grid-area: header;
    background-color: #FDF1EB;
    width: 100%;
    padding: 0.35vw 0vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgb(92, 92, 92);
}

#titles > p {
    font-size: 1vw;
}

#titles > h1 {
    font-size: 1.6vw;
    font-weight: 400;
}

#titles > h3 {
    font-size: 1vw;
    font-weight: 400;
}

header > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: -60px;
    padding: 0.5vw 1vw;
    color: rgb(92, 92, 92);
    cursor: pointer;
    background-color: #FDF1EB;
    border-style: solid;
    border-color: #adadad;
    border-width: 0.3px;
    border-radius: 4px;
}

header > button > p {
    padding-right: 0.3vw;
    font-size: 0.9vw;
}

#globe {
    margin-top: -0.3vw;
}

#info_user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: -30px;
    cursor: pointer;
}

#user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#welcome {
    font-size: 1.15vw;
    justify-self: end;
}

#email {
    font-size: 0.9vw;
}

#header_img {
    background-image: url(header/user.png);
    height: 2.2vw;
    width: 2.2vw;
    border-radius: 100%;
    margin-left: 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#header_img > div {
    font-size: 0.8vw;
    font-weight: 400;
    color: white;
    background-color: red;
    border-radius: 100%;
    width: 0.8vw;
    height: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    font-family: 'Roboto';
    grid-area: main;
    background-color: white;
    width: 95.5%;
    display: grid;
    grid-template-areas: "title_video title_video title_video download_details"
                        "content_text content_text content_text content_text";
    grid-template-columns: 22% 23% 23% 21.5%;
    gap: 2vw;
    padding: 1.5vw 0vw 1.5vw 3.5vw;
}

#title_video {
    grid-area: title_video;
    display: flex;
    flex-direction: column;
}

#title_video > h1 {
    font-size: 1.6vw;
    font-weight: 800;
    color: #EF7C3B;
}

#video {
    margin-top: 1.75vw;
    background-image: url(main/video.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#filter_background {
    background-color: rgba(141, 29, 29, 0.534);
    height: 32.2vw;
    width: 99.2%;
}

#filter_background > h2 {
    padding: 2.4vw 2.2vw;
    color: white;
    font-size: 1.9vw;
}

#content_channel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10.5vw 2.4vw;
    color: white;
}

#filter_background > div > img {
    border-radius: 100%;
    border-style: solid;
    border-width: 1.9px;
    border-color: #EF7C3B;
    padding: 0.2vw;
    margin-right: 1.2vw;
}

#video h1 {
    font-size: 2.65vw;
}

#video h3 {
    font-size: 1.6vw;
}

#download_details {
    grid-area: download_details;
    display: flex;
    flex-direction: column;
}

#buttons_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    width: 15.5vw;
}

#download_details > p {
    margin-top: 1vw;
    text-align: end;
    font-size: 1.07vw;
    color: #EF7C3B;
    font-weight: 700;
}

#download_details button {
    color: white;
    background-color: #EF7C3B;
    border: none;
    padding: 0.5vw 0.75vw;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    cursor: pointer;
}

#download_details button > p {
    font-size: 1.15vw;
    padding: 0.1vw 0vw 0.1vw 0.5vw;
}

#download_details button > img {
    width: 1.5vw;
}

#favorite {
    padding: 0.05vw 0vw;
}

#box_details {
    background-color: white;
    margin-top: 0.7vw;
    border-style: solid;
    border-width: 0.5px;
    border-color: #f0f0f0;
}

#box_details > h1 {
    background-color: #FDF1EB;
    font-size: 1.5vw;
    padding: 0.8vw;
    color: rgb(92, 92, 92);
    border-bottom-style: solid;
    border-width: 0.3px;
    border-color: #f0f0f0;
}

#apresentation, #autors, #university {
    font-family: 'Quicksand';
}

#apresentation p, #autors p {
    margin: 0.6vw 0vw;
}

#apresentation {
    padding: 1vw;
    font-size: 0.9vw;
}

#autors {
    padding: 0vw 1vw;
    font-size: 1.05vw;
}

#university {
    font-size: 0.89vw;
    color: rgb(182, 182, 182);
    padding: 3vw 1vw 2vw 1vw;
}

#content_details {
    overflow: auto;
    height: 28.7vw;
}

#content_details > p {
    font-size: 1.1vw;
    padding: 1vw;
    font-family: 'Quicksand';
}

#content_details::-webkit-scrollbar {
    background-color: white;
    width: 3px;
}

#content_details::-webkit-scrollbar-button {
    background-color: white;
}

#content_details::-webkit-scrollbar-track-piece {
    background: #e9e9e9;
    border-radius: 20px;
    margin-right: 20px;
}

#content_details::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 20px;
}

.bold {
    font-weight: bold;
}

#content {
    grid-area: content_text;
}

.topic {
    font-family: 'Quicksand';
    border-style: solid;
    border-width: 0.3px;
    border-color: #f0f0f0;
}

.topic > h1 {
    font-size: 1.5vw;
    padding: 0.8vw;
    background-color: #FDF1EB;
    border-color: #f0f0f0;
    color: rgb(92, 92, 92);
    border-bottom-style: solid;
    border-width: 0.3px;
}

.topic p {
    font-size: 1.05vw;
    padding: 1.2vw;
    color: rgb(75, 75, 75);
    margin-right: 10px
}

#abstract {
    transition-duration: 0.3s;
    height: 170px;
    cursor: pointer;
}

#show_see_more {
    font-weight: 600;
    color: #EF7C3B;
}

.see_more {
    display: none;
}

#discutions {
    margin-top: 30px;
}

#discution_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#discution_header > h2 {
    font-family: 'Roboto';
    font-size: 1.3vw;
    color: #EF7C3B;
    padding-top: 15px;
}  

#icons_discutions {
    display: flex;
    flex-direction: row;
}

#icons_discutions > img {
    padding: 25px;
}

#discution_header > p {
    max-width: 700px;
    text-align: center;
}

.create_topic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#FFB254 30%, #EF7C3B);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px rgb(175, 175, 175);
    height: 35px;
    z-index: 1;
    cursor: pointer;
}

.create_topic > p {
    font-family: 'Quicksand';
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.create_topic > img {
    width: 18px;
    padding-left: 14px;
    margin-right: -10px;
}

.line {
    margin-top: -18px;
    border-top-style: solid;
    border-width: 2px;
    width: 97%;
    height: 30px;
    z-index: 0;
    color: #f0f0f0;
    align-self: center;
}

#discution_header_2 {
    display: none;
    flex-direction: column;
    justify-content: center;
}

#discution_header_2 > p {
    text-align: center;
}

#discution_header_2 > h1 {
    font-size: 1.2vw;
    color: #EF7C3B;
    padding: 0vw 1vw;
    margin-bottom: -3px;
}

#subject, #create_topic_content {
    border-style: solid;
    padding: 0vw;
    border-width: 0.3px;
    border-color: rgb(216, 216, 216);
    display: flex;
    align-items: center;
}

#subject {
    height: 35px;
    margin: 0.5vw 1vw;
}

#create_topic_content {
    height: 85px;
    margin: 0.5vw 1vw 0vw 1vw;
}

#icons_text_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    margin: 0vw 1vw 2.5vw 1vw;
    border-width: 0.3px;
    border-top-style: none;
    border-color: rgb(216, 216, 216);
    background-color: #EAF1F2;
    height: 30px;
}

#icons_text > img {
    padding-left: 2vw;
}

#icons_text_content > button {
    font-family: 'Quicksand';
    font-size: 1.1vw;
    font-weight: 600;
    height: 30px;
    padding: 0.3vw 6vw;
    border: none;
    background-image: linear-gradient(#FFB254 30%, #EF7C3B);
    color: white;
    cursor: pointer;
}

#discution_header_3 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#discution_header_3 > h2 {
    font-family: 'Roboto';
    font-size: 1.3vw;
    padding: 1.2vw;
    color: #EF7C3B;
}

#discution_header_3 > p {
    padding: 0px;
}

#discution_header_3 > a {
    color: #EF7C3B;
    font-size: 1vw;
    font-weight: 700;
    padding: 2.4vw 0vw 3.5vw 0vw;
}

#discution_header_3 > button {
    padding: 0vw 4.5vw;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
}

#blur {
    background-color: #F8F8F8;
    margin: 0vw 1vw 1vw 1vw;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.3px;
    border-color: #f0f0f0;
    filter: blur(3px);
}

#discution_header_3 .discution_question {
    padding-bottom: 3vw;
}

#message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -140px;
    margin-bottom: 55px;
    z-index: 1;
}

#message > p {
    font-size: 1.2vw;
    font-weight: bold;
}

#message > a {
    color: #EF7C3B;
    font-weight: bold;
    font-size: 1vw;
}

#discutions_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    margin: 0px 15px 15px 15px;
}

.discution_question {
    padding: 15px 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #e2e2e2;
    box-shadow: 0px 0px 4px 2px #f0f0f0;
    border-radius: 5px;
}

.discution_question > h1 {
    font-size: 1.2vw;
    color: #EF7C3B;
}

.discution_question > h3 {
    font-size: 0.9vw;
    padding-top: 3px;
}

.discution_question > p {
    font-size: 1.05vw;
    padding: 10px 0px;
}

.discution_question > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.more {
    width: 15px;
    height: 15px;
    margin: 0px 5px 0px -5px;
}

.discution_question > div > p {
    padding: 0px 0px 0px 10px;
}

#question_expand {
    cursor: pointer;
}

.answers {
    border-radius: 0px;
    display: none;
}

.answer_autor_coautor {
    background-color: #F8F8F8;
}

.autor_coautor_simbol {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: -15px;
}

.autor_coautor_simbol > p {
    color: #EF7C3B;
    font-weight: 600;
}

footer {
    grid-area: footer;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

footer > img {
    width: 78vw;
    margin-left: 2vw;
    border-color: #f0f0f0;
}

aside {
    grid-area: aside;
    font-family: 'Quicksand';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px rgb(197, 197, 197);
    position: fixed;
    width: 17.5vw;
}

#aside_header {
    background-image: linear-gradient(#FFB254 30%, #EF7C3B);
    font-size: 2.2vw;
    font-weight: 900;
    text-align: center;
    color: white;
    padding: 1.1vw 0vw;
    width: 100%;
}

#img_aside {
    width: 100%;
}

aside nav {
    width: 100%;
}

aside nav > div {
    display: flex;
    flex-direction: row;
}

aside div > p {
    background-color: white;
    font-size: 1.1vw;
    font-weight: 600;
    color: rgb(92, 92, 92);
    padding: 0.5vw 0vw;
    padding-left: 2vw;
    list-style: none;
    width: 88.5%;
    cursor: pointer;
}

.aside_menu_item {
    margin-bottom: 2px;
    box-shadow: -10px 15px 0px 10px rgb(228, 228, 228);
}

#aside_menu_item_clicked > p {
    background-color: #FDF1EB;
}

#aside_menu_item_clicked > div {
    width: 5px;
    background-color: #F28941;
}

aside > div {
    width: 100%;
    background-color: white;
    height: 30vw;
}

@media screen and (max-width: 800px) {
    body {
        grid-template-areas: "aside" 
                            "header"
                            "main"
                            "footer";
        grid-template-columns: 100%;
    }

    aside {
        position: relative;
    }
}